body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

footer {
  background-color: #ffc403;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  max-height: 120px;
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer a, footer p {
  color: #fff;
}

  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }

  header {
    background-color: #ffc403;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 120px;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo img {
    width: 300px; /* Ajusta el tamaño de tu logo según sea necesario */
}

  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  button[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: #62aeff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .menu-container {
    background-color: #ffc403; /* Color del encabezado */
    padding: 10px 0; /* Agrega un poco de espacio alrededor del menú */
    padding: 10px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav {
    margin-top: auto; 

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav li {
    margin-right: 20px;
    position: relative; 
}

nav li:last-child {
    margin-right: 0; 
}

nav span {
    position: absolute;
    top: 50%;
    right: -10px; 
    transform: translateY(-50%);
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

nav a:hover {
    color: #105; 
}

.menu {
    position: relative;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Oculta las opciones por defecto */
    position: absolute;
    left: 0;
    width: 150px;
    background-color: #ffc403; /* Color de fondo */
    border-radius: 5px; /* Redondea las esquinas */
}

.menu:hover ul {
    display: block; /* Muestra las opciones al pasar el ratón */
}

.menu ul li:first-child {
    border-top: none; /* Elimina el borde superior del primer elemento */
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff; /* Color del texto */
    padding: 10px; /* Añade un relleno */
    width: 150px;
}

.menu ul li a:hover {
    color: #000; /* Cambia el color del texto al pasar el ratón */
}