body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}
/* Estilos para el banner */

header {
    background-color: #ffc403;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 120px;
    width: 95%;
}

.logo img {
    width: 300px; 
}

/* Estilos para la sección de landing */
.landing {
    background-color: #f2f2f2;
    margin: 5% 0;
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

/* Estilos para los formularios */
input[type="email"],
input[type="password"],
button {
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #62aeff;
    color: #fff;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000; /* Cambia el color de texto según tu preferencia */
    font-weight: bold;
}

nav a:hover {
    color: #007bff; /* Cambia el color de texto al pasar el mouse */
}


